<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <connectionStrings>
    <add name="HcmEntities" connectionString="metadata=res://*/HcmModel.csdl|res://*/HcmModel.ssdl|res://*/HcmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2019;initial catalog=HumanCapitalManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>